
.error {
    -fx-text-fill: #d06651 !important; /* The error class should always override the default text-fill style */
}

.list-cell:empty {
    /* Empty cells will not have alternating colours */
    -fx-background: #191919;
}

.tag-selector {
    -fx-border-width: 1;
    -fx-border-color: white;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.tooltip-text {
    -fx-text-fill: white;
}

.reminder-panel {
    -fx-background-color: #2b2b2b;
}

.reminder_id_label {
    -fx-font-size: 9pt;
    -fx-font-family: "Serif";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.reminder_date_label {
    -fx-font-size: 11pt;
    -fx-font-family: "Serif";
    -fx-text-fill: #ffa500;
    -fx-font-weight: bold;
}

.reminder_person_label {
    -fx-font-size: 13pt;
    -fx-font-family: "Serif";
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.reminder_message_label {
    -fx-font-size: 12pt;
    -fx-font-family: "Serif";
    -fx-text-fill: #cccccc;
    -fx-opacity: 0.9;
}

/* Section Headers */
.section-header {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0 0 1 0;
    -fx-padding: 15 20 20 20;
}

.section-header-label {
    -fx-font-size: 13pt;
    -fx-font-family: "Serif";
    -fx-text-fill: #f0efed;
    -fx-font-weight: bold;
}

.section-header-label-small {
    -fx-font-size: 11pt;
    -fx-font-family: "Serif";
    -fx-text-fill: #f0efed;
    -fx-font-weight: bold;
}
